@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: Manrope;
  src: url("../fonts/Manrope-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Manrope;
  src: url("../fonts/Manrope-Medium.ttf");
}

@font-face {
  font-weight: 600; /* Соответствует значению "почти" bold )) */
  font-family: Manrope;
  src: url("../fonts/Manrope-SemiBold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Constantine;
  src: url("../fonts/Constantine.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: $purple;
  background-color: $grey;
}

body {
  width: 100vw;
}

h1 {
  font-family: Constantine, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.2;
  color: $dark;
}