.contacts {
    &__info-wrapper {
        border-radius: 10px;
        background: rgba(197, 192, 220, 0.2);
        filter: blur(4.5px);
        width: 229px;
        height: 224px;
    }
    &__info {
    }

    &__info-items {
    }

    &__info-item {
    }

    &__info-subtitle {
    }

    &__info-desc {
    }

    &__info-socials {
    }

    &__info-social {
    }
}

.info-subtitle {
}
.info-desc {
}
.info-item {
}
.info-socials {
}
.info-social {
}
