.first {

    &__container {
        padding: 0px 30px;
    }

    &__top {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__subtitle {
        @include fonty(16px, 500, 0px);
        text-align: center;
    }

    &__girl {
        padding: 20px 0px;
        margin: 0 auto;
        @include flexy(row);
        gap: 10px;
        max-height: 755px;
        border: 1px solid $bg-color;
        width: calc(269px + 564 * ((100vw - 320px) / 1920));
        height: calc(219px + 537 * ((100vw - 320px) / 1920));
    }

    &__socials {
        border: $myBorder;

        width: 22px;
        @include flexy(column);
        position: relative;

        &::before {
            content: '';
            width: 47px;
            height: 1px;
            background-color: $title-line-color;
            position: absolute;
            top: -40px;
            left: -11;
            transform: rotate(90deg);
        }

        &::after {
            content: '';
            width: 47px;
            height: 1px;
            background-color: $title-line-color;
            position: absolute;
            bottom: -40px;
            left: -11;
            transform: rotate(90deg);
        }
    }

    &__left-side {
        display: none;
    }

    &__check-in {

        .first__text {
            @include fonty(14px, 400, 19px);
            text-align: center;
        }

        a {
            display: block;
            width: 224px;
            height: 47px;
            margin: 0 auto;
            background-color: rgba(213, 189, 250, 1.0);
            border-radius: 50px;
        }
    }

    @media (min-width: 768px) {


        .first {
            &__container {
                padding-top: 45px;
                @include flexy(row-reverse, space-between);
                @include centry(91.4%);
            }

            &__girl {
                width: 41.3%;
                margin: 0 0;
            }

            &__left-side {
                width: 28.6%;
                @include flexy(column);
            }
        }




    }

}