.footer {
    background: rgba(233, 204, 249, 0.5);
    padding: 30px 0;
    position: relative;
    &::after {
        position: absolute;
        content: url(/src/images/footer/mob-bg.png);
        top: -71px;
        right: 0;
    }
    &__inner {
        @include flexy(row, space-between, start);
        gap: 30px;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 1px;
        li {
            text-align: right;
            color: #22082b;
            @include fonty(16px, 600, normal);

            font-family: Manrope;
        }
    }
    &__desktop {
        display: none;
    }
    &__bg-desktop {
        display: none;
    }
}

@media (min-width: 375px) {
}

@media (min-width: 768px) {
    // .footer {
    //     .contact-badge__item {
    //         flex-direction: column;
    //     }
    // }
}

@media (min-width: 1280px) {
    .footer {
        &::after {
            content: "";
        }
        position: relative;
        &__nav {
            flex-direction: row;
            gap: 31px;
        }
        &__inner {
            @include flexy(row, space-between, center);
            gap: 30px;
        }
        .contact-badge {
            .socials,
            .contact-badge__item:nth-child(3) {
                display: none;
            }
        }
        &__desktop {
            text-align: end;
            display: inline;
            height: 120px;
            .contact-badge__item img {
                content: "";
                position: absolute;
                left: -131px;
                top: 34px;
                width: 16px;
                height: 16px;
            }
            .socials {
                margin-top: 10px;
            }
        }
        .contact-badge__item p:first-child {
            padding-bottom: 10px;
            font-size: 18px;
        }
        .contact-badge__item p:nth-child(2) {
            font-size: 16px;
        }
        .footer__nav li {
            font-size: 18px;
        }

        &__bg-desktop {
            display: inline;
            position: absolute;
            top: -159px;
            left: 0;
        }
        .socails__item img,
        .socials a {
            width: 46px;
            height: 46px;
        }
    }
    .socials {
        gap: 10px;
    }
}

@media (min-width: 1920px) {
    .footer__desktop .contact-badge__item img {
        left: -131px;
        top: 49px;
    }

    .footer__nav {
        gap: 63px;
    }
}
