.header {
    height: 60px;
    position: relative;
    z-index: 1;

    &_active {
        height: 100vh;
        background-color: $stop-scroll-color;
    }

    a {
        text-decoration: none;
        @include fonty(14px, 400, 14px);
        color: $font-color;
    }

    ul {
        margin: 0 0;
        padding: 0 0;

        li {
            list-style-type: none;
        }
    }

    .nav {
        width: 100vw;
        padding: 20px 20px;
        background-color: $header-bg;
        border: $header-border;
        box-shadow: $header-shadow;
        transform: translateY(-100vh);
        transition: transform 0.5s;

        &_active {
            transform: translateY(0);
            transition: transform 0.5s;
        }
    }

    .nav__list {
        width: 100%;
        padding-bottom: 15px;


    }

    .nav__link {
        @include fonty(14px, 600, 19px);

        /* for PC
            &-active {
                border: 3px solid #825890;
                border-radius: 50px;
                padding: 5px 16px;
                position: relative;
    
                &::after {
                    //content: url("/src/images/header/drops.png");
                    //content: url("../../images/header/drops.png");
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 63%;
    
                    width: 38px;
                    height: 80px;
                    //background-image: url("../../images/header/drops.png");
                    background-image: url("/src/images/header/drops.png");
                    background-size: 38px 80px;
                }
            }
            */
    }
}