.picture {
    display: inline-block;
    height: 100%;
    width: 100%;
    // background-color: red;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .portfolio__wrapper & {
        width: calc(20% - 5px);
    }

    .portfolio__wrapper &:nth-child(-1n+3) {
        width: calc(33% - 10px);
    }

    &--portfolio {
        width: calc(50% - 10px);
        min-height: 130px;
        height: auto;
    }

}