.footer {
    width: 100%;
    height: 60px;
    background: yellow;
}

.portfolio {

    background: url(../../../src/images/portfolio/bg.png) no-repeat;
    padding-top: 64px;
    background-size: 100%;
    margin-bottom: 32px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__information {
        font-weight: 600;

        & p {
            font-size: 17px;
            line-height: 17px;
            margin-bottom: 9px;
        }

        & p:nth-last-child(2) {
            font-weight: 400;
        }

        & p:last-child {
            font-weight: 600;
        }

        & span {
            font-size: 15px;
            line-height: 14px;
            margin-bottom: 16px;
            display: inline-block;
        }
    }

    &__list {

        margin-bottom: 15px;

        & li {
            position: relative;
            padding-left: 40px;

            &::after {
                content: "";
                background-color: #A289AA;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
            }

            & span {
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }

    &__swiper {
        padding-bottom: 47px;
        margin-bottom: 20px;
    }

    &__slides {
        display: flex;
        justify-content: space-between;
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        top: auto;
        width: 37px;
        height: 37px;
        bottom: 0;
        background: url(./../../../src/icon/left.svg) no-repeat;
        background-size: 37px 37px;
        left: calc(50% - 54px);

        // &::after {
        //     content: '';
        // }
    }

    &__swiper-button-next {
        background: url(./../../../src/icon/right.svg) no-repeat;
        left: auto;
        right: calc(50% - 54px);
    }

    &__swiper-button-prev::after,
    &__swiper-button-next::after {
        content: '';
    }

    &__consultation {
        & p {
            margin-bottom: 11px;
        }

        & p:nth-child(2) {
            margin-bottom: 42px;
        }
    }
}