.footer {
    width: 100%;
    height: 60px;
    background: yellow;
}

.portfolio {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & picture:nth-child(-1n+3) {
            width: calc(33% - 10px);
        }
    }
}