.services {
  @include flexy(column, space-between, unset);

  &__header {
    @include flexy(row, space-between, center);
  }

  &__animation {
    position: relative;
    width: 320px;

    #rotation {
      overflow: hidden;

      img {
        width: 100%;
        height: 703px;
        cursor: grab;
      }
    }

    .btn-calc {
      position: absolute;
      cursor: pointer;

      &.btn-calc-pussy {
        top: 140px;
        right: 239px;
      }

      &.btn-calc-right-leg {
        top: 220px;
        right: 253px;
      }

      &.btn-calc::before {
        content: url("../src/images/point.png");
      }
    }

    &__footer {

      img {
        width: 100%;
      }

      .services__h2 {
        font-family: Constantine, sans-serif;

        @include fonty(16px, 400, 17.12px);
      }
    }
  }

  &__h2 {
    @include m(bottom, 50);
  }

  &__main {
    @include flexy(row, space-between, top);

    &__left-column {
      width: 36.19%;
      @include fonty(20px, 400, 21.4px);
      @include p(top, 55);

      img {
        @include m(top, 22);
      }
    }

    &__right-column {
      width: 33.81%;
      @include fonty(20px, 400, 27.32px);
      @include p(top, 55);

      .mt-18 {
        @include m(top, 18);
      }

      .mt-36 {
        @include m(top, 36);
      }

      .mb-15 {
        @include m(bottom, 15);
      }

      .h2 {
        @include fonty(22px, 600, 30.05px);
      }
    }
  }
}

@media (max-width: 320px) {

  .services {

    &__h2 {
      display: block;
      font-size: 12px;
      line-height: 12.6px;

      @include centry(202px);
      @include m(bottom, 17.5);
    }

    &__animation {
      width: 183px;

      #rotation img {
        height: 377px;
      }

      .btn-calc-pussy {
        top: 105px;
        right: 177px;
      }

      .btn-calc-right-leg {
        top: 164px;
        right: 186px;
      }
    }
  }
}