.services {
  @include flexy(column, space-between, unset);
  @include centry(91.6%);

  &__header {
    @include flexy(row, space-between, center);
  }

  &__animation {
    position: relative;
    width: 18.18%;

    #rotation {
      overflow: hidden;

      img {
        width: 100%;
        height: 65%;
        cursor: grab;
      }
    }

    // точки на картинке
    .btn-calc {
      position: absolute;
      visibility: visible;
      cursor: pointer;
      width: 2.08vw;
      height: 2.08vw;
      background-image: url("../images/services/point.svg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;

      &.active {
        background-image: url("../images/services/cursor.png");
      }

      &.clavicle {
        top: 6vw;
        left: calc(50% - (2.08vw / 2));
      }

      &.ribs {
        top: 10.3vw;
        left: calc(50.2% - (2.08vw / 2));
      }

      &.left-hand-top {
        top: 8.6vw;
        left: calc(70% - (2.08vw / 2));
      }

      &.left-hand-center {
        top: 13.3vw;
        left: calc(78% - (2.08vw / 2));
      }

      &.left-hand-bottom {
        top: 17.3vw;
        left: calc(87% - (2.08vw / 2));
      }

      &.right-hand-top {
        top: 8.6vw;
        left: calc(30% - (2.08vw / 2));
      }

      &.right-hand-center {
        top: 13.3vw;
        left: calc(23% - (2.08vw / 2));
      }

      &.right-hand-bottom {
        top: 17.3vw;
        left: calc(13% - (2.08vw / 2));
      }

      &.left-leg-top {
        top: 19vw;
        left: calc(61% - (2.08vw / 2));
      }

      &.left-leg-center {
        top: 26vw;
        left: calc(58% - (2.08vw / 2));
      }

      &.left-leg-bottom {
        top: 31.5vw;
        left: calc(56% - (2.08vw / 2));
      }

      &.right-leg-top {
        top: 19vw;
        left: calc(39% - (2.08vw / 2));
      }

      &.right-leg-center {
        top: 26vw;
        left: calc(42% - (2.08vw / 2));
      }

      &.right-leg-bottom {
        top: 31.5vw;
        left: calc(44% - (2.08vw / 2));
      }

      &.right-leg-profile-center {
        top: 25vw;
        left: calc(41% - (2.08vw / 2));
      }

      &.right-leg-profile-bottom {
        top: 31.3vw;
        left: calc(43% - (2.08vw / 2));
      }

      &.right-hand-profile-top {
        top: 7.3vw;
        left: calc(40% - (2.08vw / 2));
      }

      &.right-hand-profile-center {
        top: 12.3vw;
        left: calc(40% - (2.08vw / 2));
      }

      &.right-hand-profile-bottom {
        top: 17.3vw;
        left: calc(50% - (2.08vw / 2));
      }

      &.right-stomach-profile {
        top: 12.3vw;
        left: calc(53% - (2.08vw / 2));
      }

      &.left-leg-profile-center {
        top: 25vw;
        left: calc(60% - (2.08vw / 2));
      }

      &.left-leg-profile-bottom {
        top: 31.3vw;
        left: calc(61% - (2.08vw / 2));
      }

      &.left-hand-profile-top {
        top: 7.3vw;
        left: calc(60% - (2.08vw / 2));
      }

      &.left-hand-profile-center {
        top: 12.3vw;
        left: calc(60% - (2.08vw / 2));
      }

      &.left-hand-profile-bottom {
        top: 17.3vw;
        left: calc(50% - (2.08vw / 2));
      }

      &.left-stomach-profile {
        top: 12.3vw;
        left: calc(47% - (2.08vw / 2));
      }
    }

    &__footer {

      img {
        width: 100%;
      }

      .services__h2 {
        font-family: Constantine, sans-serif;

        @include fonty(1.37rem, 400, 1.07);
      }
    }
  }

  &__h2 {
    @include m(bottom, 45);
    @include m(top, 25);
  }

  &__main {
    @include flexy(row, space-between, unset);

    &__left-column {
      width: 36.19%;
      @include fonty(0.9rem, 400, 1.07em);
      @include p(top, 35);

      &__pain-points {
        font-weight: 600;

        @include centry(71%);

        img {
          @include m(top, 22);
          width: 100%;
        }

        .pain-points__text {
          font-size: 0.8rem;

          @include flexy(row, space-between, center);
          @include m(top, 6);
        }
      }
    }
  }
}

.services__main__right-column,
.modalWindow {
  width: 33.81%;
  @include fonty(0.9rem, 400, 1.36em);
  @include p(top, 35);

  .mt-18 {
    @include m(top, 18);
  }

  .mt-13 {
    @include m(top, 13);
  }

  .mt-36 {
    @include m(top, 36);
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .h2 {
    @include fonty(1rem, 600, 1.36em);
  }

  .calculator {
    @include flexy(column, start, unset);

    row-gap: 0.7rem;

    .h3 {
      @include fonty(0.9rem, 600, 1.35);
    }

    &__calc {
      margin-bottom: 0.7rem;

      @include flexy(column, start, start);

      &-header {
        @include flexy(row, start, center);

        &::before {
          content: '';
          display: block;
          position: relative;
          background-image: url('../images/services/size.png');
          background-size: cover;
          background-position: top;
          width: 2.2vw;
          height: 2.2vw;
          margin-right: 0.5rem;
          bottom: 0.6vw;
        }

        p {
          margin-top: 1.1vw;
          margin-bottom: 0.75rem;
        }
      }

      ul {
        @include flexy(row, start, center);
        @include fonty(0.82rem, 400, 1.35);

        column-gap: 1.33em;

        .active {
          border-bottom: 2px solid $violet;
          font-size: 1.2em;
        }

        li {
          list-style-type: none;
          cursor: pointer;
        }
      }
    }

    &__price {

      @include flexy(row, start, center);

      &::before {
        content: '';
        display: block;
        background-image: url('../images/services/price.png');
        background-size: cover;
        background-position: center;
        width: 2.2vw;
        height: 2.2vw;
        margin-right: 0.5rem;
      }
    }

    &__time {

      @include flexy(row, start, center);

      &::before {
        content: '';
        display: block;
        background-image: url('../images/services/time.png');
        background-size: cover;
        background-position: center;
        width: 2.2vw;
        height: 2.2vw;
        margin-right: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {

  .services {

    &__main {
      @include flexy(column, center, center);

      &__left-column {
        order: 2;

        img {
          width: 100%;
        }

        &::before {
          content: 'Шкала боли';

          @include fonty(1.5rem, 600, 1.36em);
        }

        > p {
          display: none;
        }
      }

      &__right-column {
        order: 3;
        text-align: center;
      }

      div:nth-child(odd) {
        width: 100%;
      }
    }

    &__animation {
      order: 1;
      width: 70%;

      #rotation img {
        width: 100%;
      }

      .btn-calc {
        width: 6.88vw;
        height: 6.88vw;

        &.clavicle {
          top: 23vw;
          left: calc(50% - (6.88vw / 2));
        }

        &.ribs {
          top: 41.3vw;
          left: calc(50.2% - (6.88vw / 2));
        }

        &.left-hand-top {
          top: 34.6vw;
          left: calc(69% - (6.88vw / 2));
        }

        &.left-hand-center {
          top: 51vw;
          left: calc(76% - (6.88vw / 2));
        }

        &.left-hand-bottom {
          top: 68vw;
          left: calc(87% - (6.88vw / 2));
        }

        &.right-hand-top {
          top: 34.6vw;
          left: calc(31% - (6.88vw / 2));
        }

        &.right-hand-center {
          top: 51vw;
          left: calc(24% - (6.88vw / 2));
        }

        &.right-hand-bottom {
          top: 68vw;
          left: calc(13% - (6.88vw / 2));
        }

        &.left-leg-top {
          top: 73vw;
          left: calc(61% - (6.88vw / 2));
        }

        &.left-leg-center {
          top: 100vw;
          left: calc(58% - (6.88vw / 2));
        }

        &.left-leg-bottom {
          top: 125vw;
          left: calc(56% - (6.88vw / 2));
        }

        &.right-leg-top {
          top: 73vw;
          left: calc(39% - (6.88vw / 2));
        }

        &.right-leg-center {
          top: 100vw;
          left: calc(42% - (6.88vw / 2));
        }

        &.right-leg-bottom {
          top: 125vw;
          left: calc(44% - (6.88vw / 2));
        }

        &.right-leg-profile-center {
          top: 100vw;
          left: calc(41% - (6.88vw / 2));
        }

        &.right-leg-profile-bottom {
          top: 123vw;
          left: calc(40% - (6.88vw / 2));
        }

        &.right-hand-profile-top {
          top: 30vw;
          left: calc(40% - (6.88vw / 2));
        }

        &.right-hand-profile-center {
          top: 48vw;
          left: calc(40% - (6.88vw / 2));
        }

        &.right-hand-profile-bottom {
          top: 67vw;
          left: calc(50% - (6.88vw / 2));
        }

        &.right-stomach-profile {
          top: 48vw;
          left: calc(53% - (6.88vw / 2));
        }

        &.left-leg-profile-center {
          top: 100vw;
          left: calc(60% - (6.88vw / 2));
        }

        &.left-leg-profile-bottom {
          top: 123vw;
          left: calc(60% - (6.88vw / 2));
        }

        &.left-hand-profile-top {
          top: 30vw;
          left: calc(60% - (6.88vw / 2));
        }

        &.left-hand-profile-center {
          top: 48vw;
          left: calc(60% - (6.88vw / 2));
        }

        &.left-hand-profile-bottom {
          top: 67vw;
          left: calc(50% - (6.88vw / 2));
        }

        &.left-stomach-profile {
          top: 48vw;
          left: calc(47% - (6.88vw / 2));
        }
      }

      &__footer {
        display: none;
      }
    }
  }

  .modalWindow {
    width: 100%;
    padding-top: 0;
    line-height: 1.5;

    .mt-13 {
      @include m(top, 8);
    }

    .calculator {
      font-size: 1.2em;

      &__calc-header {
        display: block;

        &::before {
          content: none;
        }

        p {
          @include flexy(row, start, center);
          margin-top: 1em;

          &::before {
            content: '';
            display: block;
            background-image: url('../images/services/size.png');
            background-size: cover;
            background-position: center;
            width: 5vw;
            height: 5vw;
            margin-right: 0.5rem;
          }
        }
      }

      &__price::before {
        width: 5vw;
        height: 5vw;
      }

      &__time::before {
        width: 5vw;
        height: 5vw;
      }
    }

    .mt-18,
    .mb-15 {
      text-align: center;
    }
  }
}

@media (max-width: 320px) {

  .services {

    &__h2 {
      display: block;
      font-size: 1.2em;
      line-height: 1.1;

      @include m(bottom, 17.5);
    }
  }
}