.services {
  @include flexy(column, space-between, unset);

  &__animation {
    position: relative;
    width: 18.18%;

    #rotation {
      overflow: hidden;

      img {
        width: 100%;
        height: 65%;
        cursor: grab;
      }
    }
// точки на картинке
    .btn-calc {
      position: absolute;
      cursor: pointer;
      width: 2.08vw;
      height: 2.08vw;
      background-image: url("../images/point.svg");
      background-repeat: no-repeat;
      background-size: cover;
  
      &.throat {
        top: 6vw;
        left: calc(50% - (2.08vw / 2));
      }

      &.breast {
        top: 10.3vw;
        left: calc(50% - (2.08vw / 2));
      }

      &.left-hand-top {
        top: 8.6vw;
        left: calc(70% - (2.08vw / 2));
      }

      &.left-hand-center {
        top: 13.3vw;
        left: calc(78% - (2.08vw / 2));
      }

      &.left-hand-bottom {
        top: 17.3vw;
        left: calc(87% - (2.08vw / 2));
      }

      &.right-hand-top {
        top: 8.6vw;
        left: calc(30% - (2.08vw / 2));
      }

      &.right-hand-center {
        top: 13.3vw;
        left: calc(23% - (2.08vw / 2));
      }

      &.right-hand-bottom {
        top: 17.3vw;
        left: calc(13% - (2.08vw / 2));
      }

      &.left-leg-top {
        top: 19vw;
        left: calc(61% - (2.08vw / 2));
      }

      &.left-leg-center {
        top: 26vw;
        left: calc(58% - (2.08vw / 2));
      }

      &.left-leg-bottom {
        top: 32.3vw;
        left: calc(56% - (2.08vw / 2));
      }

      &.right-leg-top {
        top: 19vw;
        left: calc(39% - (2.08vw / 2));
      }

      &.right-leg-center {
        top: 26vw;
        left: calc(42% - (2.08vw / 2));
      }

      &.right-leg-bottom {
        top: 32.3vw;
        left: calc(44% - (2.08vw / 2));
      }

      &.right-leg-profile-center {
        top: 26vw;
        left: calc(42% - (2.08vw / 2));
      }

      &.right-leg-profile-bottom {
        top: 32.3vw;
        left: calc(44% - (2.08vw / 2));
      }

      &.left-leg-profile-center {
        top: 26vw;
        left: calc(42% - (2.08vw / 2));
      }

      &.left-leg-profile-bottom {
        top: 32.3vw;
        left: calc(44% - (2.08vw / 2));
      }

      &.right-hand-profile-top {
        top: 8.6vw;
        left: calc(30% - (2.08vw / 2));
      }

      &.right-hand-profile-center {
        top: 13.3vw;
        left: calc(23% - (2.08vw / 2));
      }

      &.right-hand-profile-bottom {
        top: 17.3vw;
        left: calc(13% - (2.08vw / 2));
      }

      &.left-hand-profile-top {
        top: 8.6vw;
        left: calc(30% - (2.08vw / 2));
      }

      &.left-hand-profile-center {
        top: 13.3vw;
        left: calc(23% - (2.08vw / 2));
      }

      &.left-hand-profile-bottom {
        top: 17.3vw;
        left: calc(13% - (2.08vw / 2));
      }

      &.stomach-profile {
        top: 17.3vw;
        left: calc(13% - (2.08vw / 2));
      }
    }

    &__footer {

      img {
        width: 100%;
      }
  
      .services__h2 {
        font-family: Constantine, sans-serif;
  
        @include fonty(16px, 400, 17.12px);
      }
    }
  }

  &__h2 {
    @include m(bottom, 50);
  }

  &__main {
    @include flexy(row, space-between, unset);

    &__left-column {
      width: 36.19%;
      @include fonty(0.9rem, 400, 1.07em);
      @include p(top, 55);

      &__pain-points {
        font-weight: 600;

        @include centry(71%);

        img {
          @include m(top, 22);
          width: 100%;
        }

        .pain-points__text {
          @include flexy(row, space-between, bottom);
          @include m(top, 6);
        }
      }
    }

    &__right-column {
      width: 33.81%;
      @include fonty(0.9rem, 400, 1.36em);
      @include p(top, 55);
  
      .mt-18 {
        @include m(top, 18);
      }
  
      .mt-36 {
        @include m(top, 36);
      }
  
      .mb-15 {
        margin-bottom: calc(15px + 1.18rem);
      }
  
      .h2 {
        @include fonty(1rem, 600, 1.36em);
      }
    }
  }
}

@media (max-width: 850px) {

  .services {

    &__main {
      @include flexy(column, center, center);

      &__left-column {
        order: 2;

        img {
          width: 100%;
        }

        &::before {
          content: 'Шкала боли';

          @include fonty(1.5rem, 600, 1.36em);
        }

        > p {
          display: none;
        }
      }

      &__right-column {
        order: 3;
        text-align: center;
      }

      div:nth-child(odd) {
        width: 100%;
      }
    }

    &__animation {
      order: 1;
      width: 300px;

      &__footer {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {

  .services {

    &__h2 {
      display: block;
      font-size: 12px;
      line-height: 12.6px;

      @include centry(202px);
      @include m(bottom, 17.5);
    }

    &__animation {
      width: 183px;

      #rotation img {
        width: 100%;
      }
    }
  }
}