

@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Regular.woff) format("woff2"), url(../fonts/Manrope-Regular.woff2) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Medium.woff2) format("woff2"), url(../fonts/Manrope-Medium.woff) format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: 600;
  /* Соответствует значению "почти" bold )) */
  font-family: 'Manrope';
  // src: url("../fonts/Manrope-SemiBold.ttf");
  src: url(../fonts/Manrope-SemiBold.woff2) format("woff2"), url(../fonts/Manrope-SemiBold.woff) format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Constantine', "font", sans-serif;
  src: url(../fonts/Constantine.woff2) format("woff2"), url(../fonts/Constantine.woff) format("woff");
}

$constantine: "Constantine", "font", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  // font-family: 'Manrope', sans-serif;
  // font-weight: 400;
  // font-size: 22px;
  // line-height: 30px;
  // min-width: 320px;
  // background-color: $light-pink1;
  overflow-x: hidden;
  color: $dark-purple;
}

.link {
  text-decoration: none;
  padding: 17px 50px;
  background-image: url('../images/bg-button.png');
  background-size: 100% 100%;
  // background-size: contain;
  background-repeat: no-repeat;
  // color: $purple;

  @include fonty(1.13rem, 600, 1.36em);
}

.text-center {
  text-align: center;
}

.border-line {
  width: 31.5vw;
  height: 0.26%;
}

.title {
  font-family: Constantine, sans-serif;
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 1.2;
  color: $dark;
  text-align: center;
  margin-bottom: 16px;
}

.wrapper-title {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    width: 26%;
    height: 1px;
    background-color: $violet;
  }

  &::before {
    right: 0;
    left: auto;
  }
}

  html {
    font-size: 10px;
  }

@media (min-width: 375px) {
  html {
    font-size: 15px;
  }

  .border-line {
    width: 23.44vw;
  }

  .services {
    @include m(bottom, 40);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .link {
    width: 100%;
    font-size: 1rem;
    display: block;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 15px;
    line-height: 1.25;
  }

  .link {
    background-image: url('../images/bg-button-md.png');
  }
}
