// цвета

//самый частый цвет шрифта:
$purple: #22082B;
// а может все таки $mainfont: #22082B; ?? более информативно


//удолить по окончании разработки:
$myBorder: 2px solid red;


$black: #000000;
$dark: #3a3a42;
$pink: #ec84b6;
$pink1: #eedcfa;
$pink2: #969ae4;
$white: #fff;
$light-pink: #fdecff;
$light-pink1: #fdfaff;
$grey: #f3f3f3;