@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "general.scss";


@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/about";
@import "./blocks/portfolio";
@import "./blocks/services";
@import "./blocks/memo";
@import "./blocks/reviews";
@import "./blocks/contacts";
@import "./blocks/footer";


/*
@font-face {
    // font-family: "Montserrat-SemiBold";
    // src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2"), url(../fonts/Montserrat-SemiBold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/


// переменная со шрифтом

// $font-italic: 'inter-italic', 'font', sans-serif;





@media (min-width: 375px) {}

@media (min-width: 768px) {
    /*
    .container {
        // max-width: 600px;
        // margin: 0 auto;
    }
*/
}

@media (min-width: 1280px) {}